    header.site-header, footer.site-footer {
        background: url("../images/main_bg.png");
        background-size: cover;
        border-bottom: 10px solid rgb(225, 37, 66);
        color: white;
    }

    header.site-header h1 {
        color: #eee;
    }
    header.site-header h2 {
        color: #ccc;
    }
    header.site-header h3 {
        color: #aaa;
    }

	#maincontent .col {
		background: #ccc;
		background: rgba(204, 204, 204, 0.85);
	}

    .omareas {
        padding: 2%;
        clear: both;
        text-align: center;
    }

    .omarea {
        //background: #ccc;
        position: relative;
        overflow: hidden;
    }
    .omarea .title {
        position: absolute;
        bottom: 5%;
        width: 100%;
        text-align: center;
        color: white;
    }
    .omarea .desc {
        position: absolute;
        top: 0;
        width: 96%;
        min-height: 93%;
        background: rgba(0,0,0,0.5);
        color: #eee;
        padding: 2%;
        opacity: 0;
        transition: opacity 0.4s;
        text-shadow: 0 0 4px black;
    }
    .omarea .desc h3 {
        color: white;
    }

    .pgg-wrapper {
        clear: both;
        margin: auto;
        text-align: center;
        max-width: 80%;
    }
    .pgg-item {
        //background: #922;
        color: white;
    }
/*
    .nav-menu ul {
        display: block;
        background: rgba(0,0,0,0.4);
        border-radius: 3px;
        color: white;
        margin: 2%;
        padding: 2%;
    }
    .nav-menu li {
        display: inline;
        padding: 2%;
        transition: background 0.2s;
        border-radius: 3px;
    }
    .nav-menu li:hover {
        background: rgb(225, 37, 66);
    }
*/
    .scrollbox {
        clear: both;
        opacity: 0;
        display: none;
    }
