/*
Theme Name: OM 2014
Theme URI: http://wordpress.org/themes/om2014
Author: the WordPress team & OMNIvision
Author URI: http://wordpress.org/
Description: Taking the Wordpress "Twenty Thirteen" theme, and modifying the heck out of it, until it looks something like the roksprocket theme that Chris made/uses.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: om2014

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* html5reset.css - 01/11/2011 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000; 
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration:  line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;   
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 0 0 0 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

/*  GRID OF TWO   ============================================================================= */

.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}

/*  GRID OF THREE   ============================================================================= */
	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 32.26%; 
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}

/*  GRID OF FOUR   ============================================================================= */
	
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 23.8%; 
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}

/*  GRID OF FIVE   ============================================================================= */
	
.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
  	width: 79.68%; 
}

.span_3_of_5 {
  	width: 59.36%; 
}

.span_2_of_5 {
  	width: 39.04%;
}

.span_1_of_5 {
  	width: 18.72%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		width: 100%; 
	}
}

/* BASIC PAGE SETUP ============================================================================= */

body { 
	margin : 0 auto;
	padding : 0;
	font : 100%/1.4 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;	 
	color : #000; 
	text-align: center;
	background: url("img/bg.jpg");
}

.screen-reader-text {
	display: none;
}

button, input, select, textarea { 
	font-family : 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif; 
	color : #333;
}

img {
	max-width: 100%;
	height: auto;
}

h1 { font-size: 170%; }
h2 { font-size: 150%; }
h3 { font-size: 130%; }
h4 { font-size: 120%; }

p {
	margin-bottom: 0.8em;
}

.nav-links a {
	display: inline-block;
	padding: 1em;
	font-size: 90%;
}

a.email:after {
	content: '\1f4e7 ';
	padding: 0 0.4em ;
}

/* ================================================================= */

footer.entry-meta {
	background: #ddd;
	font-weight: 100;
	font-size: 80%;
	padding: 1%;
	display: block;
	width: 98%;
}

.entry-meta ul li {
	display: block; 
	padding: 0.2em;
	overflow: hidden;
}

.entry-meta > span {
	display: block;
	margin: 0.2em;
	clear: both;
	border-bottom: 0.5px dashed rgba(0,0,0,0.1);
	overflow: hidden;
}

.post-meta-key {
	font-weight: bold;
}

.tags-links a {
	background: rgba(20,20,20,0.3);
	padding: 0.1em 1em 0.1em 1em;
	margin: 0.1em;
	clear: both;
	white-space: nowrap;
	display: inline-block;
	font-size: 80%; 
	border-radius:10px;
}

.tags-links a:hover {
	background: rgba(255,255,255,0.6);
}

.tags-links a:before {
	content: "➢ "
}

.om_job_requirements {
	padding: 1em;
	background: rgba(0,0,0,0.1);
	text-align: left;
	display: none;
}

.om_job_meta {
	padding: 0.4em;
	background: rgba(0,0,0,0.1);
	margin: 0.2em;
}

/* ------------------------------------------------------------------- */

.colors_bar {
	width: 100%;
	height: 6px;
	clear: both;
	background: repeating-linear-gradient(to right, #58719B, #58719B 50px, #6DC4CF 50px, #6DC4CF 100px, #9EC447 100px, #9EC447 150px, #676361 150px, #676361 200px, #F79C34 200px, #F79C34 250px) repeat scroll 0% 0% transparent;
}

.main_bg {
	background-size: cover;
}

.site_header, .site_footer {
	background-image: url("../img/main_bg.png");
	background-size: cover;
	color: white;
	padding: 20px;
}

#masthead, #colophon {
	color: white;
	border-bottom: 10px solid #c80028;

}

#masthead {
	margin-bottom: 1em;
}

#masthead h1, #colophon h1,
#masthead h2, #colophon h2,
#masthead h3, #colophon h3 {
	color: #eee;
}

#masthead a{
	color: #fff;
}

#masthead .group {
	padding-top: 1em;
	padding-bottom: 1em;
}

a, .darker a {
	color: #c80028;
	text-decoration: none;
}

.site_header a:hover {
	text-shadow:1px 1px 4px #000;
}

article a:hover {
	text-decoration: underline;
}

h1,h2,h3,h1 a, h2 a, h3 a {
	font-weight: bold;
	text-decoration: none;
	color: #606060;
}

.omareas {
	clear: both;
	text-align: center;
	margin: auto;
	max-width: 80%;
}

.omarea {
	position: relative;
	overflow: hidden;
	margin: 0px;
}

.omarea .title {
	position: absolute;
	bottom: 5%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 130%;
}

.omarea .desc {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: calc(100% - 5px); /*For some unknown reason*/
	background: rgba(0,0,0,0.6);
	color: #eee;
	opacity: 0;
	transition: opacity 0.4s;
	text-shadow: 0 0 4px black;
}

.omarea .desc h3, .omarea .title h3 {
	color: white;
	clear: both;
	text-align: center;
	min-width: 100%;
	line-height: 110%;
	font-size: 150%;
	margin: 25px 0 0 0;
}

.omarea .desc p {
	display: block;
	clear: both;
	font-size: 120%;
	padding-top: 15px;
	margin: 0 5px 0 5px;
}

.gallery-columns-3 dl{
	display: inline-block;
	width: 33%;
	text-align: center;
}

.rsgallery {
	text-align: center;
}

.rsgallery .rsg_item {
	display: inline-block;
	width: 19%;
	text-align: center;
}

.with-sidebar article {
	display: inline-block;
	width: 70%;
	vertical-align:top;
}

.with-sidebar .sidebar {
	display: inline-block;
	width: 25%;
	background: #fafafa;
	vertical-align:top;
	border-radius: 5px;
	margin: 3% auto;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	padding-top: 0.4em;
	padding-bottom: 1em;
}

.pgg-wrapper img {
	background-color: #c80028;
}

.pgg-item {
	color: white;
}

/* ======================================================== */
/* Navigation menu stuff... */

.nav {
	background: rgba(0,0,0,0.4);
	border-radius: 3px;
	color: white;
	text-align: left;
	margin-left: 20px;
	clear: both;
	margin-top: 2em;
}

.menu-toggle {
	display: block;
	position: relative;
	background-color: #c80028;
	padding: 0.7em;
	color: white;
	cursor: pointer;
	transition: background 0.3s;
	border-radius: 3px;
}

.menu-toggle h3 {
	color: white;
}

.menu-toggle:hover {
	background-color: #c80028;
}

.unclicked .nav-menu {
	display: none;
}

.nav-menu a {
	display: inline-block;
	padding: 0.6em;
}

.nav-menu a:hover {
	text-decoration: none;
}

.nav-menu li {
	transition: background 0.2s;
	border-radius: 3px;
	position: relative;
	text-align: left;
	font-size: 90%;
	padding-right: 8px;
}

.nav-menu li ul {
	padding-left: 1em;
	margin-left: 1em;
	margin-right: -8px;
	background: rgba(0,0,0,0.5);
	border-radius: 3px;
}

.nav-menu li ul li {
	display: block;
	clear:both;
	}

.nav-menu li:hover a {
	text-shadow: 0 0 5px black;
}

/* ====================================================== */

article {
	background: #fafafa;
	border-radius: 5px;
	margin: 3% auto;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	position: relative;
	max-width: 800px;
	padding-bottom: 1em;
	text-align: left;
}

article.caleb_jobs_widget_post {
	background: none;
	border-radius: 0;
	margin: none;
	box-shadow: none;
	position: relative;
	max-width: 800px;
	padding-bottom: 2em;
	text-align: left;
}

article.attachment {
	text-align: center;
}

body.single article {
	padding: 2%;
}

.latest_posts_widget article, body.blog article, body.category article, body.archive article {
	max-width:400px;
	display: inline-block;
	margin: 1%;
	vertical-align:top;
}

.latest_posts_widget img, body.blog article img {
	width: 100%;
}

body.blog article.latest_posts_widget_post {
	max-width: 100%;
}

#main h1{
	padding: 0.3em;
	font-size: 130%;
	text-align: center;
}

body.home .entry-summary, body.blog .entry-summary, body.archive .entry-summary, body.category .entry-summary, .entry-content{
	padding: 1em;
}

body.archive .entry-thumbnail {
	text-align: center;
	margin: auto;
}

body.single .requirements, body.single .entry-meta, body.single .om_job_requirements {
	display: inline-block;
}

body.blog article header .entry-thumbnail {
	width:100%;
	opacity: 1;
	transition: opacity 0.4s;
}

body.blog article header .entry-thumbnail:hover {
	opacity: 0.8;
}

body.single .entry-thumbnail, body.page .entry-thumbnail{
	float: right;
	margin: 0 0 0 1em;
}

/* ----------------------- */

a.more-link {
	margin-top: 1em;
	color: #fff;
	background-color: #c80028;
	background: linear-gradient(#c80028, #b80018);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	border-radius:3px;
	padding: 0.4em;
	clear: both;
	text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.3);
	white-space: nowrap;
	margin-right: 80%;
	font-size: 80%;
}

a.more-link:hover {
	background: #444;
}

article a.more-link {
	position: absolute;
	bottom: 1em;
	left: 1em;
}

.om_resource_meta {
	display:none;
}

#sidebar {
	padding: 4% 2%;
	margin: 15% 13% 1% 0;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
	text-align: left;
}

#sidebar a {
	color: white;
}

#sidebar ul {
	display: inline;
	list-style-type: none;
}

.logo {
	position: relative;
	float: left;
	margin: 0 40px 0 0;
	padding-left: 12px;
}

#top_right {
	position: relative;
	float: right;
	margin-right: 12px;
	margin-top: 2em;
}

.site-header .widget {
	margin-bottom: 0.6em;
}

.site-footer a {
	font-size: 90%;
	clear: both;
}

.site-footer .widget {
	text-align: left;
	padding: 9%;
}

.site-footer .widget h3 {
	font-size: 140%;
}

.site-footer ul {
	list-style-type: none;
}

.search-submit {
	display: none;
}

.search-box {
	/*background-color: #41a62a;*/
	padding: 12px;
}

.search-field {
	padding: 10px 10px 10px 30px;
	box-shadow: none;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	border-radius: 5px;
	font-size: 90%;
	background: url("img/search.png") no-repeat scroll 0% 0% transparent;
    background-color: #fafafa;
    background-image: url("img/search.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 2% 45%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.search-field:focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

/****************************************************************/

.darker {
	background: rgba(0,0,0,0.5);
}

.pull-right {
	float:right;
}

div.article-info {
	background-color: rgba(220,220,220,0.9);
	border-radius: 10px;
	display: none;
	width: 20em;
	margin: auto;
	position: absolute;
	top: 1em;
	font-size: 80%;
}

.article-info-term {
	display: none;
}

.item-page:after {
	clear: both;
}

ul.pager {
	display: inline;
	position: absolute;
	bottom: 0;
	list-style-type: none;
	font-size: 80%;
	background-color: #eee;
	padding: 2px 2em;
	border-radius: 50px 50px 0 0;
	opacity: 0.4;
	transition: opacity 1s;
}

ul.pager:hover {
	opacity: 1.0;
}

.cf:before, .cf:after {
	content:".";
	display: block;
	height: 0;
	overflow: hidden;
}

.cf:after { clear:both;}

.cf {zoom:1;}

.omscroller h3 {
	text-align: left;
	font-size: 200%;
	font-weight: thin;
}

.omscroller_post {
	font-size: 120%;
	text-align: left;
	position: relative;
}

article ul {
	padding: 0.5em 1.5em;
}

article blockquote {
	font-family: Serif;
	font-style: italic;
	padding-left: 1.5em;
	border-left: 0.2em solid #ccc;
}

/* OM Caleb imported magic */

.requirements,.entry-meta {
	display: none;
}

.top_metadata {
	display: block;
	font-size: 80%;
	margin-top: -0.2em;
	margin-bottom: 0.8em;
}

.top_metadata span {
	border-left: 1px dotted gray;
	padding: 0 0.3em;
}

.top_metadata span:first-child {
	border-left: none;
	padding-left: 0;
}

/* and stuff for om_wp_... widgets */

ul.om_listwidget {
	list-style: none;
}

.om_listwidget li {
	border-top: 1px dotted #aaa;
	text-align: left;
	text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5);
}

.om_listwidget p {
	color: #606060;
	font-size: 90%;
}

.om_listwidget a:hover {
	color: black;
}

/* Styling gccontent */

.gccontent h1 a {
	text-decoration: none;
	font-size: 130%;
}

.om-feed-link h2 {
	font-size: 110%;
	color: #c80028;
	margin-top: 20px;
}

.caleb-description p {
	margin-top: 10px;
	margin-bottom: 5px;
}

.caleb-category {
	color: #606060;
}

/* Mobile-first, so here are the changes from the above mobile stylesheet. */

@media (min-width: 481px) {
	.group {
		margin: auto;
		max-width: 95%;
	}

	.logo {
	padding-left: 0;
	}

	#top_right {
		margin-right: 0px;
		margin-bottom: 35px;
	}

	.menu-toggle {
		display: none;
	}

	.unclicked .nav-menu {
		display: block;
	}

	.nav {
		font-size: 90%;
		clear: none;
		margin-left: 0;
	}

	.nav li {
		display: inline-block;
		float: left;
	}

	/* And submenus... */

	.nav-menu li:hover, .nav-menu .current-menu-item, .nav-menu .active, .nav-menu .current-menu-ancestor{
		background-color: #c80028;
	}

	.nav-menu li ul {
		display: none;
		position: absolute;
		background-color: #c80028;
		border-radius: 0 0 5px 5px ;
		top: 2.6em;
		padding: 4px;
		z-index: 1000;
		box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
		min-width: 170px;
		margin-left: 0;
	}
	
	.nav-menu li ul li:hover {
		background: #444;
	}

	.menu-item-has-children:after {
		content: "\25BE";
		color: #888;
	}

	.nav-menu li ul li.menu-item-has-children:after {
		content: "\25BA";
		color: #888;
		position: absolute;
		right:1em;
		top: 0.7em;
	}

	.nav-menu li ul li {
		padding: 0.7em;
		border: none;
		min-width: 154px;
	}

	.nav-menu li ul li ul {
		top:0;
		left: 100%;
		display: none;
		border-radius: 0 5px 5px 0;
	}

	.nav-menu li:hover > ul {
		display: block;
	}

	.om_job_meta {
		width: 28%;
		display: none;
	}

	.alignleft {
		float: left;
		margin-right: 1em;
	}

	.alignright {
		float: right;
		margin-left: 1em;
	}

	.omarea .title {
		font-size: 120%;
		font-size: 1.9vw;
	}

	.omarea .desc h3, .omarea .title h3 {
		font-size: 120%;
		font-size: 1.9vw;
		margin: 10px 0 0 0;
	}

	.omarea .desc p {
		font-size: 90%;
		font-size: 1.4vw;
		padding-top: 8px;
	}
}

@media (min-width: 1024px) {
	.omscroller-box > div {
		max-width: 1000px;
		margin: auto;
	}

	.group {
		max-width: 1000px;
	}
	
	.omarea .title {
		font-size: 120%;
	}

	.omarea .desc h3, .omarea .title h3 {
		font-size: 120%;
	}

	.omarea .desc p {
		font-size: 90%;
	}

}
